.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainBanner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: baseline;
  align-items: center;
  background-color: white;
  /* background-image: url("../src/Assets/banner-1.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.cardstyle {
  width: 324px;
  border: 1px solid #eae8ed;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 28px !important;
  margin: 30px auto;
}

#chit-plan-card-style {
  width: 324px;

  background-color: #024180;
  color: #fff;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  padding-bottom: 20px;
}
#font-32 {
  font-size: 32px;
  padding-top: 20px;
  font-weight: bold;
}
.btn-view {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  background: #f15a24;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#mypaisaa-my {
  color: #024180;
  font-size: 35px;
  font-weight: bold;
}
#mypaisaa-paisaa {
  color: #f15825;
  font-weight: bold;
  font-size: 35px;
}

#mypaisaa-advantage {
  color: #024180;
  font-size: 25px;
  line-height: 1.2;
  padding: 15px;
}

#advantage-section-web1,
#advantage-section-web2 {
  justify-content: center;

  background-color: #f4faff;

  padding-top: 50px;

  padding-bottom: 40px;
}

#advantage-shadow {
  filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.25));
}

#dilip-story-texts {
  margin-top: 20px;

  text-align: center;

  color: #707070;
  /* font-family: Product-Sans-regular; */
  font-size: 18px;
  line-height: 20px;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
